@model IEnumerable<Idea>

@{
    ViewBag.Title = "Index";
}

<h2>Idea Board</h2>

<p>
    @Html.ActionLink("Add an idea", "Create")
</p>

<ol id="ideas">
    @foreach(var idea in Model) {
        <li class="idea">
            <a class="edit-idea">@idea.Title</a>
        </li>
    }
</ol>

</table>
